@-moz-document url-prefix("chrome:") {
  window.sidebar-panel {
    background-color: color-mix(in srgb, var(--zen-themed-toolbar-bg) 30%, transparent) !important;
    backdrop-filter: blur(10px) !important;
  }
  
  search-textbox#search-box {
    appearance: none !important;
    background-color: color-mix(in srgb, var(--zen-colors-tertiary) 50%, transparent) !important;
    border: 1px solid var(--zen-colors-border) !important;
    padding: 0.5rem !important;
    border-radius: 5px !important;
  }
  
  search-textbox#search-box:hover {
    border: 1px solid var(--zen-colors-secondary) !important;
  }
  
  search-textbox#search-box:hover:active {
    border: 1px solid var(--zen-colors-secondary) !important;
  }
  
  button#viewButton {
    appearance: none;
    color: inherit;
    background-color: transparent !important;
    border-radius: var(--toolbarbutton-border-radius);
    border: 1px solid transparent !important;
  }
  
  button#viewButton:hover {
    background-color: color-mix(in srgb, var(--zen-colors-border) 30%, transparent) !important;
  }
  
  button#viewButton:hover:active {
    background-color: color-mix(in srgb, var(--zen-colors-border) 50%, transparent) !important;
  }
  
  /* Common styles for History, Bookmarks, and Synced Tabs panels */
  #sidebar-box[sidebarcommand="viewHistorySidebar"] #sidebar-header,
  #sidebar-box[sidebarcommand="viewBookmarksSidebar"] #sidebar-header,
  #sidebar-box[sidebarcommand="viewTabsSidebar"] #sidebar-header {
    border-bottom: 0px !important;
    background-color: transparent !important;
  }
  
  #sidebar-box[sidebarcommand="viewHistorySidebar"],
  #sidebar-box[sidebarcommand="viewBookmarksSidebar"],
  #sidebar-box[sidebarcommand="viewTabsSidebar"] {
    background-color: color-mix(in srgb, var(--zen-themed-toolbar-bg) 85%, transparent) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: var(--zen-border-radius);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--zen-colors-border);
    padding: var(--zen-toolbox-padding) !important;
    position: fixed;
    z-index: 1;
    height: 80vh !important;
    width: 25em !important;
    top: 10vh !important;
    left: 0.2vw !important;
    transform: translateX(-5%);
    transition: all 0.2s ease-in-out;
  }
  
  #sidebar-box[hidden="true"][sidebarcommand="viewHistorySidebar"],
  #sidebar-box[hidden="true"][sidebarcommand="viewBookmarksSidebar"],
  #sidebar-box[hidden="true"][sidebarcommand="viewTabsSidebar"] {
    display: flex !important;
    opacity: 0 !important;
    transform: translateX(-5%);
  }
  
  #sidebar-box[checked="true"][sidebarcommand="viewHistorySidebar"],
  #sidebar-box[checked="true"][sidebarcommand="viewBookmarksSidebar"],
  #sidebar-box[checked="true"][sidebarcommand="viewTabsSidebar"] {
    transform: translateX(0);
  }
  
  #sidebar-box[sidebarcommand="viewHistorySidebar"] > *,
  #sidebar-box[sidebarcommand="viewBookmarksSidebar"] > *,
  #sidebar-box[sidebarcommand="viewTabsSidebar"] > * {
    margin: 0 !important;
  }
  
  #sidebar-box:not([checked="true"]) {
    pointer-events: none !important;
  }
  
  #sidebar-box:not([checked="true"]) + #sidebar-splitter {
    display: none !important;
  }

  #sidebar-splitter {
    display: none !important;
  }
}
